@model Annual_faculty_promotions.WebUI.Models.RoleViewModel
@using (Html.BeginForm("Create", "RolesAdmin", FormMethod.Post, new { id = "frmAddRole", @class = "form-horizontal" }))
{

    <div class="form-group form-group-sm">
        @Html.LabelFor(model => model.Name, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
}


