<li class="nav-icon-btn nav-icon-btn-danger dropdown">
    <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
        <span class="label">5</span>
        <i class="nav-icon fa fa-bullhorn"></i>
        <span class="small-screen-text">رویدادهای جدید</span>
    </a>

    <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
            <div class="notifications-list" id="main-navbar-notifications" style="overflow: hidden; width: auto; height: 250px;">

                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>
                <div class="notification">
                    <div class="notification-title text-danger">SYSTEM</div>
                    <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                    <div class="notification-ago">12h ago</div>
                    <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                </div>

            </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
        </div> <!-- / .notifications-list -->
        <a href="javascript:void(0)" class="notifications-link">MORE NOTIFICATIONS</a>
    </div> <!-- / .dropdown-menu -->
</li>
