<style>
    .alert {
        background-position: 2% 7px;
        background-repeat: no-repeat;
        background-size: auto 35px;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        min-width: auto !important;
        text-align: right;
        padding-right: 68px;
    }

</style>

    <div class="bpanel bpanel-default">
        <div class="bpanel-body">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span> <strong>با تشکر از شما کاربر گرامی ، حساب کاربری شما فعال شد</strong>
                        <hr class="message-inner-separator">
                        <p>
                            اکنون می توانید از @Html.ActionLink("اینجا", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) وارد شوید
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

